@layer components {
    .pageContent_wrapper{
        margin-left: var(--width-sidebar);
        height: 100%;
        
    }

    .pageContent_container{
        width: 100%;
        background-color: var(--primary-theme);
        min-height: 100vh;
    }

    .pageContent_heading{
        position: relative;
        width: 100%;
        height: 320px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%),
            url('/images/heading-background.jpg');
        background-position: center;
        background-size: cover;
        opacity: 0.5;
        z-index: 1;
    }

    .pageContent_catalog{
        position: relative;
        top: -50px;
        z-index: 10;
        
        padding: 0 34px;
        background: linear-gradient(to bottom, rgba(19, 20, 22, 0) 0%, rgba(19, 20, 22, 1) 100%);
    }

    .catalog_section{
        @apply w-full;
        margin-bottom: 64px;
    }

    .section_heading{
        margin-bottom: 20px;

        .section_heading_subtitle{
            font-size: 1.2rem;
            font-family: OpenSans-medium;
            color: var(--sub-text);
        }

        .section_heading_title{
            font-size: 3.2rem;
            font-family: RobotoSlap-medium;
            color: var(--primary-text);

            .title_emphasize{
                color: var(--emphasize-color);
            }
        }
    }

    .section_body_wrapper{
        @apply w-full relative;
    }
    
    .section_body_container{
        @apply flex relative;
        width: 100%;
        overflow-x: hidden;
        z-index: 1;

        .swiper{
            padding-bottom: 15px;
        }


        .swiper-button-next, .swiper-button-prev{
            background-color: var(--primary-aside);
            color: var(--primary-text);
            width: 40px;
            height: 40px;
            transition: all .15s ease-in-out;
            border-radius: 50%;
            opacity: 0;
        }

        &:hover .swiper-button-next,
        &:hover .swiper-button-prev{
            opacity: 1;
        }

        .swiper-button-next{
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }

        .swiper-button-prev{
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
        }

        .swiper-button-next::after, .swiper-button-prev::after {
            font-size: 1.6rem;
        }

        .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
            opacity: 0;
            cursor: auto;
            pointer-events: none;
        }

        .swiper-pagination{
            position: relative;
            bottom: initial;
            .swiper-pagination-bullet{
                width: 24px;
                height: 4px;
                border-radius: 8px;
                margin: 0px 4px;
                background-color: #1f3c65;
            }

            .swiper-pagination-bullet-active{
                background-color: var(--emphasize-color);
            }
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
            bottom: 0px;
            margin-top: 5px;
        }

        .section_body.row{
            @apply w-full flex;
            flex-wrap: wrap;

            .section_body.col-xl-6,.section_body.col-xl-5,.section_body.col-xl-1{
                padding: 0 12px;
            }
        }
        .section_body.row{
            counter-reset: list-order;
        }
    }

    .section_body_container{
        .songs_list_navbar_wrapper{
            @apply w-full relative;
            

            .songs_list_navbar{
                @apply flex;
                color: var(--primary-text);
                font-family: OpenSans-medium;
                padding-top: 10px;

                .navbar_item{
                    padding: 8px;
                    font-size: 1.4rem;
                }
                .navbar_item.active{
                    color: var(--emphasize-color);
                }
            }

            .songs_list_line{
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                height: 2px;
                width: inherit;
                background-color: #196eed;
                -webkit-transition: all .35s ease-in-out;
                transition: all .35s ease-in-out;
            }
        }
    }


}